<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar fixed-top bg-dark">
      <h3 style="text-align: center; justify-content: center">Cupcakes</h3>
    </nav>

    <br />
    <br />
    <br />
    <br />

    <div class="container">
      <h1 class="text-center display-3">Add a cupcake</h1>
      <br />
      <form id="form" method="POST">
        <div class="mb-3">
          <label for="cupcakeFlavor" class="form-label">Cupcake Flavor</label>
          <input type="text" class="form-control" id="cupcakeFlavor" />
        </div>
        <div class="mb-3">
          <label for="cupcakeSize" class="form-label">Cupcake Size</label>
          <input type="text" class="form-control" id="cupcakeSize" />
        </div>
        <div class="mb-3">
          <label for="cupcakeRating" class="form-label">Cupcake Rating</label>
          <input type="number" class="form-control" id="cupcakeRating" />
        </div>
        <div class="mb-3">
          <label for="cupcakeImage" class="form-label">Cupcake Image URL</label>
          <input type="text" class="form-control" id="cupcakeImage" />
        </div>
        <button type="submit" class="btn btn-dark">Sumbit</button>
      </form>
    </div>
    <br />
    <br />

    <div class="row" id="cupcake-list"></div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
      integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="static/cupcakes.js"></script>
  </body>
</html>
